//Colors
$navy: #1e245e;
$blueTransparent: #b1b7fa83;
$navyTransparent: #1e245e52;
$lightPink: #ffd7d7;
$lightPinkTransparent: #ffdadab8;
$darkPink: #ffb6b6;
$tomato: #ff5d5d;
$darkTomato: #d64343;
$sand: #d7bc98;
$sandTransparent: #e6ba81b4;
$lightGray: #f1f1f1;
$white: #ffffff;

//Shadows
$boxShadowLight: 0px 2px 4px rgba(0, 0, 0, 0.1);

//Fonts
$primaryFont: "Josefin Sans", serif;
$secondaryFont: "Open Sans", sans-serif;
